.contactInfoFlex {
  flex-wrap: wrap;
  gap: 16px 0;
}

.contactInfo {
  flex: 0 0 50%;
  box-sizing: border-box;
  @media (max-width: 724px) {
    flex: 0 0 100%;
  }
}

.cardContainer {
  height: 100%;
  flex: 1;
}
