/* GLOBAL VARIABLES */
@import "./globals.css";

:root {
  font-family: "Inter", sans-serif;
  /* Enable lowercase l with tail */
  font-feature-settings: "cv05" 1 !important;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Inter", sans-serif;
}

.app {
  width: 100%;
  margin: 0 auto;
}

._toolbar_17w00_1 {
  /* hack to make toolbar not take all place, just for demo purposes */
  width: initial;
}
