.companiesTitle {
  display: flex;
  justify-content: space-between;
}

.infoText {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  font-style: normal;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  text-indent: 0;
}

@media (min-width: 1024px) {
  .infoText {
    flex-direction: row;
    align-items: center;
    justify-content: start;
    column-gap: .5rem;
    width: auto;
  }
}

.link {
  color: inherit;
  text-decoration: underline;
}

.link:hover {
  color: var(--ds-color-base-hover);
}
