name: Deploy Infrastructure (Manual)

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment to deploy to"
        required: true
        default: "test"
        type: choice
        options:
          - test (af.at23.altinn.cloud)
          - yt01 (af.yt01.altinn.cloud)
          - staging (af.tt.altinn.no)
          - prod (af.altinn.no)
      version:
        description: "Version to deploy. Needs to be a git tag (exclude the v prefix)"
        required: true
        type: string

run-name: Deploy infrastructure ${{ inputs.environment }} v${{ inputs.version }}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}-${{ inputs.environment }}

jobs:
  parse-environment:
    name: Parse environment name
    uses: ./.github/workflows/workflow-parse-environment.yml
    with:
      environment_input: ${{ inputs.environment }}

  generate-git-short-sha:
    name: Generate git short sha
    uses: ./.github/workflows/workflow-generate-git-short-sha.yml

  deploy-infra:
    name: Deploy infra to ${{ needs.parse-environment.outputs.environment }}
    needs: [parse-environment, generate-git-short-sha]
    uses: ./.github/workflows/workflow-deploy-infrastructure.yml
    secrets:
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      AZURE_SOURCE_KEY_VAULT_NAME: ${{ secrets.AZURE_SOURCE_KEY_VAULT_NAME }}
      AZURE_SOURCE_KEY_VAULT_SUBSCRIPTION_ID: ${{ secrets.AZURE_SOURCE_KEY_VAULT_SUBSCRIPTION_ID }}
      AZURE_SOURCE_KEY_VAULT_RESOURCE_GROUP: ${{ secrets.AZURE_SOURCE_KEY_VAULT_RESOURCE_GROUP }}
      AZURE_CERTIFICATE_KEY_VAULT_NAME: ${{ secrets.AZURE_CERTIFICATE_KEY_VAULT_NAME }}
      AZURE_SOURCE_KEY_VAULT_SSH_JUMPER_SSH_PUBLIC_KEY: ${{ secrets.AZURE_SOURCE_KEY_VAULT_SSH_JUMPER_SSH_PUBLIC_KEY }}
      APPLICATION_GATEWAY_WHITELISTED_IPS: ${{ secrets.APPLICATION_GATEWAY_WHITELISTED_IPS }}
    with:
      environment: ${{ needs.parse-environment.outputs.environment }}
      region: norwayeast
      version: ${{ inputs.version }}
      ref: "refs/tags/v${{ inputs.version }}"
