name: Build and push images to GCR

on:
  workflow_call:
    secrets:
      GCR_PASSWORD:
        description: "Password for Github Container Registry"
        required: true
    inputs:
      dockerImageBaseName:
        description: "Base image name for docker images"
        required: true
        type: string
      version:
        description: "Version to tag"
        required: true
        type: string

jobs:
  publish-docker-images:
    env:
      DOCKER_IMAGE_BASE_NAME: ${{ inputs.dockerImageBaseName }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        include:
          - dockerfile: ./packages/bff/Dockerfile
            imageName: node-bff
          - dockerfile: ./packages/frontend/Dockerfile
            imageName: frontend

    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GCR_PASSWORD }}

      - name: Extract metadata (tags, labels)
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: ${{ env.DOCKER_IMAGE_BASE_NAME }}${{ matrix.imageName }}

      - uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Build and push docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          file: ${{ matrix.dockerfile }}
          push: true
          tags: |
            ${{ env.DOCKER_IMAGE_BASE_NAME }}${{ matrix.imageName }}:${{ inputs.version }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha,scope=${{ matrix.imageName }}
          cache-to: type=gha,mode=max,scope=${{ matrix.imageName }}
          build-args: |
            BUILD_VERSION=${{ inputs.version }}
