name: translations checks
on:
  workflow_call:
  workflow_dispatch:

jobs:
  check-translations:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: 'Installing Dependencies'
        uses: ./.github/actions/install

      - name: Run translation check
        run: pnpm --filter frontend i18n:check
