name: Deploy apps
on:
  workflow_call:
    outputs:
      deployment_executed:
        description: "Indicates if the deployment was actually executed"
        value: ${{ jobs.deploy-apps.result == 'success' && !inputs.dryRun }}
    secrets:
      AZURE_CLIENT_ID:
        required: true
      AZURE_TENANT_ID:
        required: true
      AZURE_SUBSCRIPTION_ID:
        required: true
      AZURE_RESOURCE_GROUP_NAME:
        required: true
      AZURE_ENVIRONMENT_KEY_VAULT_NAME:
        required: true
      AZURE_CONTAINER_APP_ENVIRONMENT_NAME:
        required: true
      AZURE_APPLICATION_INSIGHTS_INSTRUMENTATION_KEY:
        required: true
      OCP_APIM_SUBSCRIPTION_KEY:
        required: true

    inputs:
      environment:
        required: true
        type: string
      dryRun:
        description: "If true, the deployment will be validated but not executed."
        required: false
        type: boolean
        default: false
      version:
        description: "Current version to use as tag"
        required: true
        type: string
      runMigration:
        description: "If true, the migration job will be deployed."
        required: false
        type: boolean
        default: false
      ref:
        description: "The branch or tag ref to deploy. Using default checkout ref if not provided."
        required: false
        default: ${{ github.ref }}
        type: string
concurrency:
  # Existing runs are cancelled if someone repeatedly commits to their own Pull Request (PR). However, it does not stop others' dry runs or actual deployments from the main branch.
  # Also, the cancellation does not occur on merges to the main branch. Therefore, if multiple merges to main are performed simultaneously, they will just be queued up.
  group: deploy-apps-${{ inputs.environment }}-${{ github.ref_name }}-${{ inputs.dryRun }}
  # if the dryrun input is true, we want to cancel any running deployments in order to not block the pipeline e.g for environment approvals
  cancel-in-progress: ${{ inputs.dryRun }}
jobs:
  deploy-migration-job:
    name: Deploy migration job to ${{ inputs.environment }}
    if: ${{ inputs.runMigration }}
    runs-on: ubuntu-latest
    environment: ${{inputs.environment}}
    permissions:
      id-token: write
      contents: read
    steps:
      - name: "Checkout GitHub Action"
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: ${{ inputs.ref }}

      - name: Azure Login
        uses: ./.github/actions/azure-login
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Dryrun Deploy migration job (${{ inputs.environment }})
        uses: azure/bicep-deploy@b63eaec8b9f6816ac93b70400c64e60fae54530f # v2.1.0
        if: ${{inputs.dryRun}}
        id: deploy-dryrun
        env:
          # parameters
          IMAGE_TAG: ${{ inputs.version }}
          # secrets
          CONTAINER_APP_ENVIRONMENT_NAME: ${{ secrets.AZURE_CONTAINER_APP_ENVIRONMENT_NAME }}
          ENVIRONMENT_KEY_VAULT_NAME: ${{ secrets.AZURE_ENVIRONMENT_KEY_VAULT_NAME }}
          OCP_APIM_SUBSCRIPTION_KEY: ${{ secrets.OCP_APIM_SUBSCRIPTION_KEY }}
        with:
          scope: resourceGroup
          operation: whatIf
          type: deployment
          template-file: ./.azure/applications/bff-migration-job/main.bicep
          resource-group-name: ${{ secrets.AZURE_RESOURCE_GROUP_NAME }}
          name: "dp-fe-${{ inputs.environment }}-bff-migration-job-${{ inputs.version }}"
          parameters-file: ./.azure/applications/bff-migration-job/${{ inputs.environment }}.bicepparam
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Deploy migration job (${{ inputs.environment }})
        uses: azure/bicep-deploy@b63eaec8b9f6816ac93b70400c64e60fae54530f # v2.1.0
        if: ${{!inputs.dryRun}}
        id: deploy
        env:
          # parameters
          IMAGE_TAG: ${{ inputs.version }}
          # secrets
          CONTAINER_APP_ENVIRONMENT_NAME: ${{ secrets.AZURE_CONTAINER_APP_ENVIRONMENT_NAME }}
          ENVIRONMENT_KEY_VAULT_NAME: ${{ secrets.AZURE_ENVIRONMENT_KEY_VAULT_NAME }}
          OCP_APIM_SUBSCRIPTION_KEY: ${{ secrets.OCP_APIM_SUBSCRIPTION_KEY }}
        with:
          scope: resourceGroup
          type: deployment
          operation: create
          template-file: ./.azure/applications/bff-migration-job/main.bicep
          resource-group-name: ${{ secrets.AZURE_RESOURCE_GROUP_NAME }}
          name: "dp-fe-${{ inputs.environment }}-bff-migration-job-${{ inputs.version }}"
          parameters-file: ./.azure/applications/bff-migration-job/${{ inputs.environment }}.bicepparam
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Start migration job
        uses: azure/CLI@089eac9d8cc39f5d003e94f8b65efc51076c9cbd # v2.1.0
        if: ${{!inputs.dryRun}}
        with:
          inlineScript: |
            az containerapp job start -n ${{ steps.deploy.outputs.name }} -g ${{ secrets.AZURE_RESOURCE_GROUP_NAME }}

      - name: Verify migration
        uses: azure/CLI@089eac9d8cc39f5d003e94f8b65efc51076c9cbd # v2.1.0
        if: ${{!inputs.dryRun}}
        id: verify-migration
        timeout-minutes: 3
        with:
          inlineScript: |
            ./.github/tools/containerAppJobVerifier.sh ${{ steps.deploy.outputs.name }} ${{ secrets.AZURE_RESOURCE_GROUP_NAME }} ${{ inputs.version }}

      - name: Logout from azure
        if: ${{failure() || success()}}
        continue-on-error: true
        run: az logout

  deploy-apps:
    name: Deploy ${{ matrix.name }} to ${{ inputs.environment }}
    runs-on: ubuntu-latest
    # Should run even though the migration job was skipped
    if: ${{ always() && !cancelled() && !failure() }}
    needs: deploy-migration-job
    timeout-minutes: 6
    strategy:
      fail-fast: true
      matrix:
        include:
          - name: bff
          - name: frontend
    environment: ${{ inputs.environment }}
    permissions:
      id-token: write
      contents: read
    steps:
      - name: "Checkout GitHub Action"
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: ${{ inputs.ref }}

      - name: Azure Login
        uses: ./.github/actions/azure-login
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Dryrun Deploy app ${{ matrix.name }}(${{ inputs.environment }})
        uses: azure/bicep-deploy@b63eaec8b9f6816ac93b70400c64e60fae54530f # v2.1.0
        if: ${{inputs.dryRun}}
        id: deploy-dryrun
        env:
          # parameters
          IMAGE_TAG: ${{ inputs.version }}
          # secrets
          CONTAINER_APP_ENVIRONMENT_NAME: ${{ secrets.AZURE_CONTAINER_APP_ENVIRONMENT_NAME }}
          ENVIRONMENT_KEY_VAULT_NAME: ${{ secrets.AZURE_ENVIRONMENT_KEY_VAULT_NAME }}
          AZURE_APPLICATION_INSIGHTS_INSTRUMENTATION_KEY: ${{ secrets.AZURE_APPLICATION_INSIGHTS_INSTRUMENTATION_KEY }}
          OCP_APIM_SUBSCRIPTION_KEY: ${{ secrets.OCP_APIM_SUBSCRIPTION_KEY }}
        with:
          scope: resourceGroup
          type: deployment
          operation: whatIf
          template-file: ./.azure/applications/${{ matrix.name }}/main.bicep
          resource-group-name: ${{ secrets.AZURE_RESOURCE_GROUP_NAME }}
          name: dp-fe-${{ inputs.environment }}-${{ matrix.name }}-${{ inputs.version }}
          parameters-file: ./.azure/applications/${{ matrix.name }}/${{ inputs.environment }}.bicepparam
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Deploy app ${{ matrix.name }}(${{ inputs.environment }})
        uses: azure/bicep-deploy@b63eaec8b9f6816ac93b70400c64e60fae54530f # v2.1.0
        if: ${{!inputs.dryRun}}
        id: deploy
        env:
          # parameters
          IMAGE_TAG: ${{ inputs.version }}
          # secrets
          CONTAINER_APP_ENVIRONMENT_NAME: ${{ secrets.AZURE_CONTAINER_APP_ENVIRONMENT_NAME }}
          ENVIRONMENT_KEY_VAULT_NAME: ${{ secrets.AZURE_ENVIRONMENT_KEY_VAULT_NAME }}
          AZURE_APPLICATION_INSIGHTS_INSTRUMENTATION_KEY: ${{ secrets.AZURE_APPLICATION_INSIGHTS_INSTRUMENTATION_KEY }}
          OCP_APIM_SUBSCRIPTION_KEY: ${{ secrets.OCP_APIM_SUBSCRIPTION_KEY }}
        with:
          scope: resourceGroup
          type: deployment
          operation: create
          template-file: ./.azure/applications/${{ matrix.name }}/main.bicep
          resource-group-name: ${{ secrets.AZURE_RESOURCE_GROUP_NAME }}
          name: dp-fe-${{ inputs.environment }}-${{ matrix.name }}-${{ inputs.version }}
          parameters-file: ./.azure/applications/${{ matrix.name }}/${{ inputs.environment }}.bicepparam
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Verify deployment (${{ matrix.name }})
        uses: azure/CLI@089eac9d8cc39f5d003e94f8b65efc51076c9cbd # v2.1.0
        if: ${{!inputs.dryRun}}
        id: verify-deployment
        timeout-minutes: 3
        with:
          inlineScript: |
            ./.github/tools/revisionVerifier.sh ${{ steps.deploy.outputs.revisionName }} ${{ secrets.AZURE_RESOURCE_GROUP_NAME }}

      - name: Logout from azure
        if: ${{failure() || success()}}
        continue-on-error: true
        run: az logout
