name: Playwright tests
on:
  workflow_call:
  workflow_dispatch:

jobs:
  playwright-tests:
    name: 'Playwright Tests'
    env:
      PLAYWRIGHT_TEST_BASE_URL: 'http://localhost:5173' # vite default port
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write

    steps:
      - name: 'Checking Out Code'
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          fetch-depth: 0

      - name: 'Installing Dependencies'
        uses: ./.github/actions/install

      - name: Install Playwright Browsers
        run: pnpm --filter frontend install:browsers

      - name: Run Playwright tests
        run: pnpm --filter frontend test:playwright

      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        if: always()
        with:
          name: playwright-report
          path: packages/frontend/playwright-report/
          retention-days: 7

      - name: Store artifacts
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        if: failure()
        with:
          name: playwright-screenshots
          path: packages/frontend/test-results
          retention-days: 3
